@font-face {
  font-family: "Chalet Book";
  src: url("assets/fonts/ChaletBook.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Chalet Book";
  src: url("assets/fonts/ChaletBookBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Chalet Book";
  src: url("assets/fonts/ChaletBookItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Chalet Book";
  src: url("assets/fonts/ChaletBookBoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}